.footer a {
    color: #6c757d;
}

.footer a:hover {
    color: #fff;
}

.footer h4 {
    color: #fff;
}

.footer p, .footer li {
    color: #6c757d;
}

.footer .img-fluid {
    max-width: 70%;
    margin-top: 20px;
}
