.cea-form-box {
    width: 80%;
    margin: 5% auto;
    padding: 2%;
    box-shadow: 5px 5px 20px #8bff8e;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 30px;
}

.SignUpPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cea-form-title{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2%;
    color: #038903;
    text-shadow: 5px 5px 20px #8bff8e;
}