.LoginPage {
    height: 100vh;
    width: 100%;
    background: #f8f9fa;
}

.form-box {
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 2px 12px 5px rgba(113, 113, 113, 0.3);
}

.custom-btn {
    background-color: #000;
    border-color: #fff;
    color: #fff;
}

.custom-btn:hover {
    color: #fff;
}
